# Lokad_Purchase Orders

The file describes about the historical purchase data for every transactional shipment.
ID: the SKU (Stock keeping Unit) identifier (value: 10014552/Chicago)
Loc: the identifier of the geographical location (value: Chicago)
Ref: the identifier of the product (value: 10014552)
DeliveryDate: date when the good were delivered, missing values for some which I guess represent the order for which goods are not delivered (value: 22-06-16)
Quantity: order quantity in units (value: 50)
Received: received quantity in units (value: 50)
NetAmount: amount paid for the purchase order (value: 165)
Supplier: identifies the supplier who received the purchase order (value: FHL)
PoNumber: unique identifier for purchase order (value: PONumber)
Date: date when the purchase order was placed (value: 20-04-16)
Currency: code for the currency (value: USD)

In [1]:
%matplotlib notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

## Reading csv file

In [2]:
df = pd.read_csv("Lokad_PurchaseOrders.csv")
df

,Id,Loc,Ref,DeliveryDate,Quantity,Received,NetAmount,Supplier,PONumber,Date,Currency
0,15641711/Los Angeles,Los Angeles,15641711,6/22/2016,50,50,164.999998,FHL,PO-200193,4/20/2016,USD
1,15641711/Los Angeles,Los Angeles,15641711,7/29/2016,47,47,155.099998,FHL,PO-200243,7/26/2016,USD
2,16075571/Los Angeles,Los Angeles,16075571,6/22/2016,100,100,300.000000,Logipro,PO-200193,4/20/2016,GBP
3,16075571/Los Angeles,Los Angeles,16075571,7/29/2016,300,300,900.000000,Logipro,PO-200243,7/26/2016,GBP
4,16075571/Los Angeles,Los Angeles,16075571,1/1/2001,121,0,363.000000,Logipro,PO-200271,8/24/2016,GBP
5,14759689/Los Angeles,Los Angeles,14759689,1/1/2001,103,0,336.809998,Drecom,PO-200271,8/24/2016,GBP
6,14095459/Los Angeles,Los Angeles,14095459,1/1/2001,100,0,4654.999920,Drecom,PO-200225,8/6/2016,USD
7,15586718/Los Angeles,Los Angeles,15586718,1/1/2001,200,0,11400.000000,Drecom,PO-200225,8/6/2016,GBP
8,10095232/Los Angeles,Los Angeles,10095232,5/8/2015,150,150,4002.000045,Office First,102196,5/27/2015,EUR
9,10095232/Los Angeles,Los Angeles,10095232,6/21/2016,100,100,2668.000030,Office First,PO-200069,11/25/2015,EUR
10,10095232/Los Angeles,Los Angeles,10095232,6/20/2016,100,100,2668.000030,Office First,PO-200081,10/12/2015,EUR
11,11481389/Los Angeles,Los Angeles,11481389,1/1/2001,2,0,26.480000,SuperSupply,PO-200257,4/8/2016,GBP
12,15431986/Los Angeles,Los Angeles,15431986,6/21/2016,24,24,291.120002,Logipro,PO-200069,11/25/2015,GBP
13,15431986/Los Angeles,Los Angeles,15431986,1/1/2001,6,0,72.780001,Logipro,PO-200271,8/24/2016,GBP
14,12768029/Los Angeles,Los Angeles,12768029,6/14/2016,12,12,218.400010,FHL,PO-200099,7/1/2016,USD
15,12768029/Los Angeles,Los Angeles,12768029,1/1/2001,2,0,36.400002,FHL,PO-200257,4/8/2016,USD
16,15343952/Los Angeles,Los Angeles,15343952,1/1/2001,120,0,2743.200072,Logipro,PO-EE-BO-Atlanta,10/30/2015,GBP
17,15343952/Los Angeles,Los Angeles,15343952,4/10/2016,40,0,914.400024,Logipro,PO-200244,7/26/2016,GBP
18,14693335/Los Angeles,Los Angeles,14693335,4/10/2016,32,0,1126.719971,Drecom,PO-200244,7/26/2016,USD
19,11711636/Los Angeles,Los Angeles,11711636,1/1/2001,40,0,996.399992,RRD,PO-EE-BO-Atlanta,10/30/2015,USD
20,11711636/Los Angeles,Los Angeles,11711636,6/21/2016,16,16,398.559997,RRD,PO-200069,11/25/2015,USD
21,11711636/Los Angeles,Los Angeles,11711636,1/1/2001,20,0,498.199996,RRD,PO-200267,8/18/2016,USD
22,11941800/Los Angeles,Los Angeles,11941800,1/1/2001,40,0,996.399992,Drecom,PO-EE-BO-Atlanta,10/30/2015,GBP
23,11941800/Los Angeles,Los Angeles,11941800,6/21/2016,16,16,398.559997,Drecom,PO-200069,11/25/2015,GBP
24,11941800/Los Angeles,Los Angeles,11941800,1/1/2001,20,0,498.199996,Drecom,PO-200267,8/18/2016,GBP
25,11711100/Los Angeles,Los Angeles,11711100,1/1/2001,24,0,335.280007,Office First,PO-200277,8/31/2016,USD
26,10595489/Los Angeles,Los Angeles,10595489,5/8/2015,18,18,681.120004,SuperSupply,102196,5/27/2015,EUR
27,10595489/Los Angeles,Los Angeles,10595489,6/21/2016,12,12,454.080002,SuperSupply,PO-200069,11/25/2015,EUR
28,10595489/Los Angeles,Los Angeles,10595489,12/9/2016,20,0,756.800004,SuperSupply,PO-200236,7/13/2016,EUR
29,10678449/Los Angeles,Los Angeles,10678449,4/10/2016,20,0,661.200028,SuperSupply,PO-200244,7/26/2016,USD
...,...,...,...,...,...,...,...,...,...,...,...
1046,13985896/Chicago,Chicago,13985896,7/26/2016,12,12,546.720017,Drecom,PO-200200,3/5/2016,GBP
1047,13985896/Chicago,Chicago,13985896,1/1/2001,12,0,546.720017,Drecom,PO-200290,9/28/2016,GBP
1048,16363786/Chicago,Chicago,16363786,5/2/2016,10,10,233.999996,Drecom,PO-200091,12/22/2015,USD
1049,15963625/Chicago,Chicago,15963625,5/2/2016,20,20,589.000016,RRD,PO-200091,12/22/2015,USD
1050,15963625/Chicago,Chicago,15963625,1/1/2001,10,0,294.500008,RRD,PO-200281,9/15/2016,USD
1051,16018733/Chicago,Chicago,16018733,12/31/2015,10,10,203.600006,RRD,PO-200052,12/11/2015,USD
1052,16018733/Chicago,Chicago,16018733,5/19/2016,40,40,814.400024,RRD,PO-200176,3/30/2016,USD
1053,14099484/Chicago,Chicago,14099484,12/31/2015,10,10,317.399998,Drecom,PO-200052,12/11/2015,GBP
1054,14099484/Chicago,Chicago,14099484,1/28/2016,20,20,634.799996,Drecom,PO-200085,12/17/2015,GBP
1055,14099484/Chicago,Chicago,14099484,4/5/2016,50,50,1586.999990,Drecom,PO-200141,2/16/2016,GBP
1056,16277400/Chicago,Chicago,16277400,4/13/2016,16,16,360.640014,SuperSupply,PO-200133,11/2/2016,USD
1057,16277400/Chicago,Chicago,16277400,7/26/2016,20,20,450.800018,SuperSupply,PO-200200,3/5/2016,USD
1058,16277400/Chicago,Chicago,16277400,3/8/2016,10,10,225.400009,SuperSupply,PO-200206,5/13/2016,USD
1059,12451991/Chicago,Chicago,12451991,4/13/2016,16,16,360.640014,RRD,PO-200133,11/2/2016,GBP
1060,12451991/Chicago,Chicago,12451991,7/26/2016,20,20,450.800018,RRD,PO-200200,3/5/2016,GBP
1061,12451991/Chicago,Chicago,12451991,3/8/2016,10,10,225.400009,RRD,PO-200206,5/13/2016,GBP
1062,13060917/Chicago,Chicago,13060917,1/1/2001,20,0,698.399964,RRD,PO-EE-BO-Reno,10/30/2015,EUR
1063,13060917/Chicago,Chicago,13060917,8/1/2016,10,10,349.199982,RRD,PO-200062,11/19/2015,EUR
1064,13060917/Chicago,Chicago,13060917,5/2/2016,10,10,349.199982,RRD,PO-200091,12/22/2015,EUR
1065,13060917/Chicago,Chicago,13060917,7/6/2016,20,20,698.399964,RRD,PO-200189,4/13/2016,EUR
1066,14404386/Chicago,Chicago,14404386,1/18/2016,10,10,633.100014,Drecom,PO-200074,3/12/2015,GBP
1067,14404386/Chicago,Chicago,14404386,6/5/2016,10,10,633.100014,Drecom,PO-200160,3/15/2016,GBP
1068,14404386/Chicago,Chicago,14404386,6/20/2016,20,20,1266.200028,Drecom,PO-200192,4/19/2016,GBP
1069,14404386/Chicago,Chicago,14404386,1/1/2001,16,0,1012.960022,Drecom,PO-200298,10/20/2016,GBP
1070,14411646/Chicago,Chicago,14411646,12/22/2015,16,16,295.519989,Drecom,PO-200044,10/30/2015,USD
1071,14411646/Chicago,Chicago,14411646,5/2/2016,8,8,147.759994,Drecom,PO-200091,12/22/2015,USD
1072,14411646/Chicago,Chicago,14411646,6/20/2016,16,16,295.519989,Drecom,PO-200192,4/19/2016,USD
1073,16188573/Chicago,Chicago,16188573,12/22/2015,16,16,295.519989,FHL,PO-200044,10/30/2015,GBP
1074,16188573/Chicago,Chicago,16188573,5/2/2016,8,8,147.759994,FHL,PO-200091,12/22/2015,GBP
1075,16188573/Chicago,Chicago,16188573,6/20/2016,16,16,295.519989,FHL,PO-200192,4/19/2016,GBP

In [3]:
df.dtypes

Id               object
Loc              object
Ref               int64
DeliveryDate     object
Quantity          int64
Received          int64
NetAmount       float64
Supplier         object
PONumber         object
Date             object
Currency         object
dtype: object

#### Conversion of the dtypes of Date and Delivery date coulmns of Lokad_PurchaseOrders into datetime

In [4]:
df['Date']  = pd.to_datetime(df['Date'])
df['DeliveryDate'] = pd.to_datetime(df['DeliveryDate'])
#df.dtypes

#### Lead time calculation

#### Lead_Time = SupplyDelay + Constant(Reorder delay)
#### Reorder delay is kept constant as it depends on the business agreement with the supplier. For our case right now taken reorder as zero

In [5]:
df['LeadTime'] = abs(df.DeliveryDate - df.Date)

In [6]:
df['LeadTime']

0        63 days
1         3 days
2        63 days
3         3 days
4      5714 days
5      5714 days
6      5696 days
7      5696 days
8        19 days
9       209 days
10      252 days
11     5576 days
12      209 days
13     5714 days
14       17 days
15     5576 days
16     5415 days
17      107 days
18      107 days
19     5415 days
20      209 days
21     5708 days
22     5415 days
23      209 days
24     5708 days
25     5721 days
26       19 days
27      209 days
28      149 days
29      107 days
          ...
1046    143 days
1047   5749 days
1048    132 days
1049    132 days
1050   5736 days
1051     20 days
1052     50 days
1053     20 days
1054     42 days
1055     49 days
1056    203 days
1057    143 days
1058     66 days
1059    203 days
1060    143 days
1061     66 days
1062   5415 days
1063    256 days
1064    132 days
1065     84 days
1066    312 days
1067     82 days
1068     62 days
1069   5771 days
1070     53 days
1071    132 days
1072     62 days
1073     53 days
1074    132 days
1075     62 days
Name: LeadTime, Length: 1076, dtype: timedelta64[ns]

In [7]:
df.dtypes

Id                       object
Loc                      object
Ref                       int64
DeliveryDate     datetime64[ns]
Quantity                  int64
Received                  int64
NetAmount               float64
Supplier                 object
PONumber                 object
Date             datetime64[ns]
Currency                 object
LeadTime        timedelta64[ns]
dtype: object

#### Conversion of dtypes of Leadtime to int

In [8]:
df['LeadTime']  = (df['LeadTime'] / np.timedelta64(1, 'D')).astype(int)

In [9]:
df.dtypes

Id                      object
Loc                     object
Ref                      int64
DeliveryDate    datetime64[ns]
Quantity                 int64
Received                 int64
NetAmount              float64
Supplier                object
PONumber                object
Date            datetime64[ns]
Currency                object
LeadTime                 int32
dtype: object

In [10]:
df['LeadTime'].to_csv('temp.csv')

In [11]:
colname = ['LeadTime']
df2 = pd.read_csv('temp.csv', names = colname, header = None)
df.merge(df2, right_index = False, left_index = False).to_csv('temp1.csv')

### Calculation of Average Lead Time

In [12]:
avg_supp = df.groupby('Ref', as_index = True)['LeadTime'].mean().astype(int)

colnames=['Ref', 'AvgLT'] 
avg_supp.to_csv('temp.csv')

data = pd.read_csv('temp.csv', names = colnames, header = None)

data

         Ref  AvgLT
0    9952426     58
1   10014552   1421
2   10095232    144
3   10099950   2213
4   10132892    669
5   10136626    885
6   10210677   1049
7   10255812    886
8   10422793     85
9   10592438    783
10  10595489    670
11  10678449   1988
12  10764226     69
13  11045096   2335
14  11097836    946
15  11481389   1200
16  11557472    150
17  11635178     58
18  11711100   1981
19  11711636   1133
20  11780124   2444
21  11788268   1049
22  11800905     92
23  11906239   1049
24  11914966    629
25  11929369   2115
26  11941800   1133
27  12401265    160
28  12409642   1968
29  12451991   1159
..       ...    ...
70  14789055    979
71  14820865     92
72  14895172    114
73  14901389     32
74  15034737   1325
75  15063964    895
76  15092233    992
77  15149291    869
78  15343952   1915
79  15410849   1746
80  15416092   2103
81  15431986   1657
82  15519926   1493
83  15586718   2904
84  15641711   2277
85  15808622    702
86  15880950   1402
87  15963625   2448
88  16018733   1197
89  16075571    886
90  16089695    783
91  16187687   2163
92  16188573   1224
93  16239251   1543
94  16277400   1159
95  16363786   1452
96  16401974    933
97  16412231   1217
98  16430058   1002
99  16595101   1021

[100 rows x 2 columns]

In [13]:
new_df = df.merge(data, on = 'Ref', right_index = True).to_csv('temp1.csv')

new_df = pd.read_csv('temp1.csv')

### LeadTime deviation

In [14]:
sigma_LT = new_df.groupby('Ref')['LeadTime'].std().fillna(0).astype(int)
sigma_LT.to_csv('temp.csv')
colname = ['Ref', 'sigmaLT']
df3 = pd.read_csv('temp.csv', names = colname, header = None)
df3

         Ref  sigmaLT
0    9952426       36
1   10014552     2454
2   10095232      165
3   10099950     2851
4   10132892     1793
5   10136626     2153
6   10210677     2279
7   10255812     2129
8   10422793      103
9   10592438     1940
10  10595489     1681
11  10678449     2750
12  10764226       71
13  11045096     2924
14  11097836     2000
15  11481389     2448
16  11557472      119
17  11635178        0
18  11711100     2803
19  11711636     2208
20  11780124     2885
21  11788268     2279
22  11800905       72
23  11906239     2160
24  11914966     1638
25  11929369     3116
26  11941800     2208
27  12401265      224
28  12409642     2740
29  12451991     2272
..       ...      ...
70  14789055     2064
71  14820865       68
72  14895172       93
73  14901389       41
74  15034737     2460
75  15063964     1977
76  15092233     2074
77  15149291     1989
78  15343952     2755
79  15410849     2607
80  15416092     2858
81  15431986     2591
82  15519926     2422
83  15586718     3005
84  15641711     2947
85  15808622     1831
86  15880950     2389
87  15963625     3001
88  16018733     2292
89  16075571     2129
90  16089695     1940
91  16187687     2712
92  16188573     2385
93  16239251     2613
94  16277400     2272
95  16363786     2497
96  16401974     2040
97  16412231     2336
98  16430058     2308
99  16595101     2169

[100 rows x 2 columns]

In [15]:
new_df.merge(df3, on = 'Ref', right_index = True).to_csv('temp1.csv')

### Forecating of the Leadtime from the given input using different Machine Learning algorithm

#### DecisionTreeForecasting

In [16]:
## Forecasting the Leadtime for the product

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

X = df[['Date', 'DeliveryDate']]

y = new_df['AvgLT']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

dt = DecisionTreeClassifier().fit(X_train, y_train)
# dt.score(X_train,y_train) * 100

In [17]:
pred = dt.predict(X_test)
print("Accuracy Score: ", accuracy_score(pred, y_test) * 100)

Accuracy Score:  6.69144981413

#### Feature importance

In [18]:
# Feature imporatnce using DecisionTreelassifier
print(dt.feature_importances_)

[ 0.62273218  0.37726782]

#### Forecasting using ExtraTreeClassifier

In [19]:
#from sklearn import datasets
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier
# load the iris datasets
X = df[['Date', 'DeliveryDate']]

y = new_df['AvgLT']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)
# fit an Extra Trees model to the data
model = ExtraTreesClassifier()
model.fit(X, y)
# display the relative importance of each attribute
print(model.feature_importances_)

[ 0.56680873  0.43319127]

In [20]:
model.score(X_test, y_test)

0.17843866171003717